@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFAFA;
  --foreground: #111827;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .safe-area-bottom {
    padding-bottom: env(safe-area-inset-bottom);
  }
}
